<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>HELELO
    </p>
    <a href="">HAKKINDA</a>
    <a href="/animeler/<%= anime.name %>/gallery">GALERİ</a>
</body>

</html>