<footer class="card-footer bg-dark justify-content-center align-items-center">
    <div style="display: flex; justify-content: center; align-items: center;column-count: 3; column-gap: 20px;column-rule: 2px solid pink;">
        <div style="padding: 5px;">
            <a class="inst" href="https://www.instagram.com/musaaylcn/" style="font-size: 25px;"><i
                    style="color: white;" class="fa-brands fa-instagram"></i></a>
        </div>
        <div style="padding: 5px;">
            <a class="github" href="https://github.com/musaylcn" style="font-size: 25px;"><i
                    style="color: white;" class="fa-brands fa-github"></i></a>
        </div>
        <div style="padding: 5px;">
            <a class="gmail " href="mailto:balmusa.5757@gmail.com" style="font-size: 25px;"><i style="color: white;"
                    class="fa-regular fa-envelope"></i></a>
        </div>
    </div>
</footer>