<style>
    i:hover{
        color: rgb(163, 163, 163) !important;
        transition: color 0.5s;
    }
</style>

<footer class="footer bg-dark justify-content-center align-items-center ">
    <div style="display: flex; justify-content: center; align-items: center; gap: 25px; height: auto;">
        <div style="padding: 5px;">
            <a class="inst" href="https://www.instagram.com/musaaylcn/" style="font-size: 25px;"><i
                    style="color: white;" class="fa-brands fa-instagram"></i></a>
        </div>
        <div style="padding: 5px;">
            <a class="github" href="https://github.com/musaylcn" style="font-size: 25px;"><i
                    style="color: white;" class="fa-brands fa-github"></i></a>
        </div>
        <div style="padding: 5px;">
            <a class="gmail " href="mailto:balmusa.5757@gmail.com" style="font-size: 25px;"><i style="color: white;"
                    class="fa-regular fa-envelope"></i></a>
        </div>
    </div>
</footer>

