<style>
  .aEtiket:hover {
    border-bottom: 3px solid black;
  }

  .togglemodu:hover {
    border-bottom: 3px solid black;
  }

  .togglemodu {
    font-size: 25px !important;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="box-shadow: 3px 3px 3px black;">
  <a class="navbar-brand" href="/">
    <img
      src="https://play-lh.googleusercontent.com/dCZAUacZ-USjxAb1GaHtQm0fzONKeNq7BaYTl9s8ZW6G9D2NHk0YuwmXIc-J9qmBlIU=s128"
      style="width: 50px;height: 50px; border-radius: 50%;">
    <span style="display: inline-block; font-weight: 750;">DATTEBASA</span>
  </a>
  <button style="border: 0;" class="navbar-toggler" id="button" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa-solid fa-bars" style="color: #000000;"></i>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" style="margin-right: 3px;">
        <a class="nav-link aEtiket togglemod" href="/" style="color: black;font-size: 18px;">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link aEtiket togglemod" href="/animeler" style="color: black; font-size: 18px;">Animeler</a>
      </li>

    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link togglemod" href="https://www.instagram.com/musaaylcn/" style="font-size: 22px;"><i
            style="color: black;" class="fa-brands fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</nav>


<script>
  let number = 0
  const button = document.querySelector("#button");
  const AnaAnim = document.querySelectorAll(".aEtiket");
  const togglemod = document.querySelectorAll(".togglemod");

  button.addEventListener("click", () => {

    if (number % 2 == 0) {
      for (let i = 0; i < togglemod.length; i++) {
        togglemod[i].classList.add("togglemodu");
      }
      number++;
    }
    else {
      for (let i = 0; i < togglemod.length; i++) {
        togglemod[i].classList.remove("togglemodu");
        
      }
      number++;
    }
  })

  if (window.location.pathname == "/animeler") {
    AnaAnim[1].style.color = "rgba(220,0,1,255)"
  }

</script>